<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TreeTransport</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="bodyClass text-center bg-home">

    <div class="mynavbar navbar navbar-dark lightgray">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong class="text-dark">
                    <img src="/img/icon.png" width="16px">
                    TreeTransport
                </strong>
            </a>
            
            <ul class="nav nav-pills">
                <!-- <li class="nav-item">
                    <a class="nav-link text-dark" href="/maps">Mapa</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link text-dark" href="/list-stations-bus">Autocarro</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/list-stations-train">Comboios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/list-stations-submay">Metro</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-between overlay-dark" style="height: calc(100vh - 75px)">

        <main role="main" class="cover inner text-white mx-auto">
            <h1 class="cover-heading">Uma maneira melhor de gerir o seu tempo sem chegar atrasada/o.</h1>
            <p class="lead">Começa evitar os atrasos e supressões</p>
        </main>
    </div>
</body>
</html>
